* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	min-height: 300vh;
}

.right-nav {
	display: inline-block;
    float: right;
    margin-right: 20px;
}

#logo {
	margin-left: 100px;
	margin-top: 5px;
}

li {
	display: inline-block;
}

ul {
	margin-bottom: 1rem;
	border-bottom: solid 1px gray;
}

div li {
	margin: 1rem;
    top: -8px;
    position: relative;
}
nav {
	position: sticky;
  	top: 0;
  	background-color: white;
    height: 45px;
}

.tuitt-button {
	background-color: #c2195b ;
	border-radius: 150px;
	padding: 0.5rem;
	border: none;
	color: white;
}

#bg-image {
    margin: 15px 0px;
    min-height: 50vh;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	text-align: right;
}

.container {
	min-height: 50vh;
    width: 350px;
    color: white;
    margin-left: auto;
    margin-right: 100px;
}

.subtitle{
	    font-size: 16px;
	    font-weight: normal;
}

.apply-button {
	background-color: #c2195b ;
	border-radius: 150px;
	padding: 0.5rem;
	border: none;
	color: white;
	margin-top: 10px;
}

.title {
	font-family: 'Zilla Slab', serif;
    font-size: 35px;
    margin-bottom: 15px;
}

.title-2{
	text-align: center;
	font-family: 'Zilla Slab', serif;
	margin-bottom: 50px;
}

p {
	justify-content: center;
    margin-left: 15rem;
    margin-right: 15rem;
}

.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
	margin: 2rem;
}

.book-button {
	background-color: #336589;
	border-radius: 150px;
	padding: 0.5rem;
	border: none;
	color: white;
	margin-top: 10px;
}

footer {
	text-align: center;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;